.socials {
  --background-color: var(--color-neutral-100);
  --icon-color: var(--color-neutral-400);

  list-style: none;
  display: flex;
  gap: 2em;
}

.socials a {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--icon-color);
  transition:
    color 300ms cubic-bezier(0.72, 0, 0.12, 1),
    background 300ms cubic-bezier(0.72, 0, 0.12, 1);
}

.socials a:hover {
  background-color: var(--icon-color);
  color: var(--background-color);
}

.socials-theme-dark {
  --background-color: #dedceb;
}

.socialsWithDescription {
  flex-direction: column;
}

.socialsWithDescription li {
  display: flex;
  align-items: center;
  gap: 1em;
}

.icons {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media (max-width: 600px) {
  .socials {
    gap: 1em;
  }
}
